ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #324b71;
}

.active {
    background-color: #324b71;
}

#layout {
  margin-left: auto;
  margin-right: auto; 
}

.cesium{
  margin-left: 7%;
  float: left;
  max-width: 11%;
}

#navbar {
  max-width: 70%;
  margin-right: 20%;
  margin-left: 0%;
  margin-top: 5%;
}

#text {
   text-align: center;
   color: #000;
   margin-top: 5%;
   background-color: rgba(255,255,255,0.6);
   margin-left: 25%;
   margin-right: 25%;
 }

.soctxt{
  margin-left:20%;
  margin-right:20%;
}

.cybersectxt{
  margin-left:20%;
  margin-right:20%;
}

.cesitxt{
  margin-left:5%;
  margin-right:5%;
}

.caostxt{
  margin-left:5%;
  margin-right:5%;
}

.eventotxt{
  margin-left:5%;
  margin-right:5%;
}

.cybersec{
  max-width:50%;
  margin-top:3%;
  margin-bottom: 3%;
}

.gos{
   max-width:50%;
   margin-top: 3%;
   margin-bottom: 3%;
 }

 .codeweektxt{
   margin-left:20%;
   margin-right:20%;
 }

 .codeweek{
   max-width:50%;
   margin-top:3%;
   margin-bottom:3%;
 }

 .caos{
   max-width: 50%;
   margin-top:3%;
   margin-bottom:3%;
 }

 .sei {
   max-width: 30%;
   margin-top:3%;
   margin-bottom:3%;
 }

 .uminho{
   max-width:40%;
   margin-top:3%;
   margin-bottom:2%;
 }

.mapa{
  margin-top:3%;
  margin-bottom:3%;
  max-width:80%;
}

.fb{
  border-radius: 50%;
  max-width:10%;
  margin-right:3%;
}

.tt{
  border-radius: 50%;
  max-width:10%;
  margin-right:3%;
}

.insta{
  border-radius: 50%;
  max-width:10%;
  margin-right:3%;
}

.github{
  border-radius:50%;
  max-width:10%;
  margin-right:3%;
}

#compbar {
  margin-right:2%;
  margin-left:10%;
  width: 80%;
  height: 30px;
  background-color: rgba(255,255,255,0);
}

#bar {
  opacity: 0;
  width: 0%;
  height: 30px;
  background-color:#1B2326;
}

.myfb{
  border-radius:50%;
  max-width:10%;
  margin-right:3%;
  opacity: 0;
}

.mytt{
  border-radius:50%;
  max-width: 10%;
  margin-right:3%;
  opacity: 0;
}

.mycont{
  opacity: 0;
}

.myinsta{
  border-radius:50%;
  max-width: 10%;
  margin-right: 3%;
  opacity: 0;
}

.mygithub{
  border-radius:50%;
  max-width:10%;
  margin-right:3%;
  opacity: 0;
}

#pergunta{
  border-style: solid;
  margin-right:15%;
  margin-left: 15%;
  border-color:#1B2326;
}
